// some google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Rubik&display=swap');

$nunito-font: 'Nunito', sans-serif;
$rubik-font: 'Rubik', sans-serif;
$font-stack: $rubik-font, $nunito-font, Helvetica, sans-serif;
$primary-color:#6D0C52;

body {
  background-color:#0D212D;
}

$light-color: gray;
body {
  font: 100% $font-stack;
  color: $primary-color;
}

.playground {
  height: 80vh !important;
}

.split {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.form {
  label {
    display: block;
  }
}

.getAuth {
  background-image: url("/image/Frame 5.png");
  background-repeat: repeat; 
  width: 1500px;
  height: 1000px;
}

.slim {
  margin: auto;
  width: 400px;
  color: #0D212D;
  background-color: #253B48;
}

.form {
  max-width: 400px;
}

.logo {
  height: 75px;
  width: 218px;
}

.headerLogo {
  height: 41px;
  width: 61px;
}

.analyticstitle {
  color:white;
}

.logout {
  color: rgba(255, 255, 255, 0.6);
  background-color:#172B3A;
}

.analytics {
  margin-left: 20px;
  color: #FFF;
}

button {
  background-color: rgb(49, 53, 78);
  color: rgb(254, 251, 251);
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  width: 100px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  }

  .MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #F012B2;
}

 